/* @import url("components/navbar.css"); */
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  color: #2A2F3D;
  text-align: center;
  line-height: 68px;
  text-decoration: none;
}

body {
  /* background-image: url('../images/javascript-apps.png'); */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: 0 auto;
}

nav h4 {
  color: whitesmoke;
  font-size: 25px;
  font-weight: 400;
  z-index: 3;
}

nav h4 a {
  font-weight: 500;
  font-size: 30px;
  color: #2A2F3D;
}

.text-wrapper {
  position: absolute;
  top: 22%;
  width: 100vw;
  padding-bottom: 80px;
}

.apps-titles {
  width: 85vw;
  margin: 0 auto;
}

.apps-titles h1 {
  font-size: 14vw;
  font-weight: bold;
  text-align: left;
  letter-spacing: -3px;
}

.apps-titles h2 {
  font-size: 16vw;
  color: #2A2F3D;
  text-align: left;
  margin-bottom: 4vh;
  font-weight: 200;
  overflow-wrap: anywhere;
  letter-spacing: -3px;
}

.apps-titles p {
  line-height: 1.2;
  text-align: left;
  font-size: 16px;
}

.apps-titles ul {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.apps-titles ul li {
  line-height: 1.2;
  margin-top: 2%;
  text-align: left;
}

.apps-titles h2 {
  text-decoration: underline 5px #E84A5F;
}

.apps-titles a {
  text-decoration: none;
  color: #E84A5F;
  text-align: left;
}

.square-js {
  position: absolute;
  top: 0;
  right: 7%;
  width: 97px;
  height: 71px;
  background-color: #30384C;;
}

@media screen and (min-width: 768px) {
  .apps-titles {
    width: 76vw;
  }
  .apps-titles h1 {
    font-size: 7vw;
  }

  .apps-titles h2 {
    font-size: 5vw;
  }
}
