* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  color: #2A2F3D;
  text-align: center;
  letter-spacing: -3px;
  line-height: 68px;
}

body  {
  /* background-color: #EAEFF3; */
  background-image: url('../images/background-mobile.png');
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
}

a:hover {
  color: #E84A5F;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 15px;
  width: 100vw;
  padding-right: 10%;

}

nav a {
  font-size: 25px;
  font-weight: 400;
  z-index: 2;
}

.title {
  position: absolute;
  top: 178px;
  width: 100vw;
  /* text-align: right;
  margin-right: 8%; */
}

h1 {
  font-weight: 200;
  font-size: 79px;
}

h2 {
  font-weight: 200;
  font-size: 65px;
}

.name {
  margin-bottom: 20px;
}

.name h3 {
  font-weight: 200;
  font-size: 58px;
}

.name h2 {
  font-size: 75px;
  font-weight: 500;
}

.roll {
  margin-bottom: 20px;
}

.roll h1 {
  font-size: 91px;
  font-weight: 500;
}

.location h3 {
  font-size: 60px;
  font-weight: 200;
}

.location h2 {
  font-size: 70px;
  font-weight: 500;
}

.projects {
  position: absolute;
  top: 850px;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.projects h4 {
  font-size: 40px;
  font-weight: 600;
}

.projects a {
  font-size: 30px;
  font-weight: 200;
  text-decoration: none;
}

.square-one {
  position: absolute;
  right: 7%;
  width: 97px;
  height: 71px;
  background-color: #E84A5F;
}

.square-two {
  position: absolute;
  left: 13%;
  top: 179px;
  width: 97px;
  height: 71px;
  background-color: #E84A5F;
  z-index: -1;
}
