@keyframes open-popup {
  from {height: 0;}
  to {height: 100vh;}
}

.about-popup {
  display: none;
  position: absolute;
  top: 0;
  background-color: #2A2F3D;
  width: 100vw;
  height: 0;
  animation-name: open-popup;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-timing-function: ease-out;
  z-index: 3;
}


.about-popup img {
  width: 127px;
  border-radius: 50%;
  position: relative;
  top: 5%;
}

.about-popup p {
  position: relative;
  top: 4%;
  color: whitesmoke;
  font-size: 26px;
  font-weight: 200;
  letter-spacing: -1px;
  line-height: 44px;
  margin: 0 3%;
}

.about-popup strong {
  color: #E84A5F;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -1px;
}

.fa-grip-lines {
  position: absolute;
  bottom: 1%;
  font-size: 40px;
  color: whitesmoke;
  z-index: 4;
}
